body {
  font-family: system-ui, sans-serif;
  background-color: #5cbf85;
  color: #1f2937; /* asignr una variable a una propiedad */
  line-height: 1.6;
}
.header {
  background-color: #d8b4fe;
  padding: 1rem 2rem;
 align-items: center;
 justify-content: center;
}
.main__title {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operaciones{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  background: #f8fafc;
  border-radius: 24px;
  padding: 2rem 1.5rem;
  max-width: 70%;
  margin: 0 auto 2.5rem;
}